/* New Frontend CSS */

body {
  padding-bottom: 150px;
}

.inputGroup {
  display: flex;
  justify-content: center;
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

.formSelect {
  height: 48px;
}

.formText {
  height: 100px;
}

.navbar {
  font-size: 20px !important;
}

.classBrand{
  font-size: 26px !important;
}

.warning{
  font-style: italic;
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 18px;
  /* style={{ marginLeft: '6rem', marginRight: '6rem'}} */
}

.basicNav {
  white-space: nowrap;
  overflow: hidden;
}

.box {
  margin: 50px;
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  /* overflow: hidden; */
  /* height: 200px; */
  /* max-height: 100vh; */
}

.grid{
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}


.resultImage {
  height: 350px;
  object-fit: contain;
}

.homeHeader {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
}

.searchResults {
  position: static;
  margin-left: 500px;
  margin-top: 8px;
}

.searchBar {
  width: 750px !important;
}

.product{
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 0 5px #ccc ;
}

.details{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  padding: 30px 0;
}

.big-img{
  width: 400px;
  object-fit: contain;
  margin: 25px;
}

.details .description{
  max-width: 500px;
  min-width: 250px;
  margin: 25px;
}

.description .row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cardTitle{
  letter-spacing: 1px;
}

span{
  color: crimson;
}

.description p{
  line-height: 1.5;
  margin: 15px 0;
  font-size: 20px;
}

.buttons{
  cursor: pointer;
  margin-bottom: 15px;
}

.send{
  background: #0078D7;
  color: white;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
  margin-left: 35px;
}
/* depreciated */

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information input{
  width: 250px;
  height: 30px;
  font-size: 20px;
  padding-left: 15px;
  margin: 5px;
}

.information button{
  width: 250px;
  height: 30px;
  margin-top: 15px;
}

.information button:hover{
  cursor: pointer;
}

.results{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.input-group {
  display: flex;
  width: 50%;
} */

/* .user{
  width: 700px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
} */

/* .user h3{
  margin: 20px;
} */

/* .option{
  padding-left: 30px;
  align-content: center;
}

.form-select{
  padding-left: 5px;
  margin-right:5px;
  padding-right: -10px;
}

.form-control{
  padding-right: 50px;
  margin-right: 5px;
} */

/* .search.btn{
  padding-right: 5px;
} */

/* .grid > div {
  flex-basis: calc(20% - 50px);
}

.cards {
  gap: calc(100px + 10%);
} */