.pointer {
  cursor: pointer;
}

.checkbox {
  float: left;
  margin-top: 5px;
  margin-left: 25px;
  padding-left: 100px
}

.preview {
  border: 1px solid gray;
  padding: 8px;
}

.dropDown {
  width:250px;
}

.fileBox {
padding: .2em;
}

.browse {
padding-bottom: 2em;
cursor: pointer;
}

input[type=file]::file-selector-button {
display: inline-block;
border-radius: .2em;
padding: .2em .4em;
font-size: 14px;

}

.custom-file-upload {
border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.information input{
  width: 250px;
  height: 30px;
  font-size: 20px;
  padding-left: 15px;
  margin: 5px;
}

.information button{
  width: 250px;
  height: 30px;
  margin-top: 15px;
}

.information button:hover{
  cursor: pointer;
}

.results{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}



 /* Customize the label (the container) */
.container {
display: block;
position: relative;
padding-left: 85px;
margin-bottom: 5px;
margin-top: 12px;
cursor: pointer;
font-size: 17px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
margin-top: 10px;
margin-left: 50px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 9px;
top: 3px;
width: 8px;
height: 15px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

/* Resizing font for use of phone numbers */
.disclaimer {
font-size: 12px;
color: black;
}

.phoneFormat {
font-size: 12px;
color: gray;
}

input:placeholder-shown {
font-size: 16px;
font-style: italic;
}

.btn-group button {
  padding: 1px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  width: 150px;
}

.a {
  padding-right: 5px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.browse {
  border: 2px solid darkgray;
  font-size: 12px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 
}